<!DOCTYPE html>
<html lang="en">
<head>
    <% include template/head.ejs %>
</head>
<body>
<div class="container">
 <% include template/sidebar.ejs %>
 <div class="main_content"><h1><%=pageTitle%></h1></div>
</div>
</body>
</html>