<!DOCTYPE html>
<html lang="en">
<head>
    <% include template/head.ejs %>
</head>
<body>


<div class="wrapper">
 <% include template/header.ejs %>
 <div class="main">
  <% include template/sidebar.ejs %>
  <p>Hello world</p>
 </div>
 <% include template/errors.ejs %>
</div>

</body>
</html>