<!DOCTYPE html>
<html>
  <head>
    <% include ./template/head.ejs %>
  </head>
  <body>
  <% include ./template/header.ejs %>
    <h1><%= pageTitle %></h1>
    <p>Welcome to <%= pageTitle %></p>
    <form>
      <input id="name" type="text" autofocus="true" name="name"><br>

      <button type="submit" create receptionist>submit</button>
    </form>
  </body>
</html>
