<!DOCTYPE html>
<html>
  <head>
    <% include template/head.ejs %>
  </head>
  <body>
  <% include template/header.ejs %>
  <% include template/errors.ejs %>
    <h1><%= pageTitle %></h1>
  <% include registration_forms/form.ejs%>
  </body>
</html>
