<!DOCTYPE html>
<html>
  <head>
    <% include template/head.ejs %>
  </head>
  <body>
  <% include template/header.ejs %>
    <h1><%= pageTitle %></h1>
    <p id="general_manager_form" style="display:none"><% include registration_forms/form.ejs%></p>
  </body>
</html>
