<form action="/registration/change_password" method="post" class="submitForm">
    <p>Old Password: </p><input id="old_password" type="password" name="old_password" required><br><br>
    <p>New password: </p><input id="new_password" type="password" name="new_password" required><br>
    <p>Confirm new password: </p><input id="new_password_confirm" type="password" name="new_password_confirm" required><br>
    <button type="submit">Submit</button>
</form>