<ul class="errors">
    <%if(errors !==null && typeof errors !== 'undefined'){
        for(var i = 0; i < errors.length; i++){%>
            <li>
                <%if(errors[i]){%>
                    <p> <%=errors[i] %></p>
                <%}%>
            </li>
        <%}
    }%>
</ul>