<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script><script language="JavaScript" type="text/javascript"></script>
<title><%=siteTitle %>--<%=pageTitle%></title>
<meta charset="utf-8" />
<link rel='stylesheet' href='/stylesheets/style.css' />

