<a href="/" title="Index"><img src="/images/logo.jpg"></a>
<ul id="header">
    <%if(typeof user !== "undefined" && user){%>
        <li>Logged in as <%=user%></li>
        <li><a href="/home/logOut" title="Log Out">LogOut</a></li>
    <%}else{%>
        <li><a href="/login" title="Login">Login</a></li>
        <%}%>
    <li></li>
</ul>