<a href="/" title="Index"><img src="/images/logo.jpg"></a>
<ul class="header">
    <li><%=role%></li>
    <div class="dropdown">
        <%if(typeof user !== "undefined" && user){%>

        <li class="dropdown_button">  <%=user%>  </li>
        <div class="dropdown_content">
            <a href="/home/logOut" title="Log Out">LogOut</a>
        </div>

        <%}else{%>
        <li><a href="/login" title="Login">Login</a></li>
        <%}%>
    </div>

</ul>
