<div class="sidebar_menu">
    <a href="#">Link </a>
    <a href="#">Link </a>
    <div class="customers_menu">
        <a class="dropdown_click" onclick="dropDown()">Customers</a>
        <div id="customers_menu_content" class="customers_menu_content">
            <a href = "#">Link</a>
            <a href = "#">Link</a>
        </div>
    </div>
    <a href="#">Link</a>
</div>
<script>
    function dropDown(){
        var handle = document.getElementById("customers_menu_content");
        if
    }

</script>
