<div class="sidebar_menu">
    <%if(typeof user !== "undefined" && user){%>
        <div class="dropdown">
            <a href="#" class="dropdown_button"> <p>Role: <%=role%></p><p>User: <%=user%> </p> </a>
            <div class="dropdown_content">
                <a href="/home/logOut" title="Log Out">LogOut</a>
            </div>
        </div>
        <div class="dropdown">
            <a href="/customers" class="dropdown_button">Customers</a>
            <div class="dropdown_content">
                <a href="/customers/registration">Register new Customer</a>
            </div>
        </div>
        <div class="dropdown">
            <a href="#" class="dropdown_button">Staff</a>
            <div class="dropdown_content">
                <a href="/dentist">Browse all dentists</a>
                <a href="/dentist/registration">Register new Dentist</a>
                <%if(role == 'assistant_manager' || role == 'general_manager' || role == 'admin'){%>
                <a href="/registration">Register new staff account</a>
                <%}%>
            </div>
        </div>
        <div class="dropdown">
            <a href="" class="dropdown_button">Appointments</a>
            <div class="dropdown_content">
                <a href="#">Browse Appointments</a>
                <a href="#">History Appointments</a>
            </div>
        </div>
    <%if(role == 'general_manager' || role == 'admin'){%>
    <a href="/settings">Settings</a>
    <%}%>

    <%}else{%>
        <a href="/login" title="Login">Login</a>
    <%}%>
</div>
