<div class="sidebar_menu">
    <%if(typeof user !== "undefined" && user){%>
        <div class="dropdown">
            <a href="#" class="dropdown_button"> <p><%=role%></p> <%=user%>  </a>
            <div class="dropdown_content">
                <a href="/home/logOut" title="Log Out">LogOut</a>
            </div>
        </div>
        <div class="dropdown">
            <a href="/customers" class="dropdown_button">Customers</a>
            <div class="dropdown_content">
                <a href="/customers/registration">Register new Customer</a>
            </div>
        </div>
        <div class="dropdown">
            <a href="/dentist" class="dropdown_button">Dentists</a>
            <div class="dropdown_content">
                <a href="/dentist/registration">Register new Dentist</a>
            </div>
        </div>
        <div class="dropdown">
            <a href="#" class="dropdown_button">Appointments</a>
            <div class="dropdown_content">
                <a href="#">Browse Appointments</a>
                <a href="#">History Appointments</a>
            </div>
        </div>
        <a href = "#">Link</a>
        <a href = "#">Link</a>

    <%}else{%>
        <a href="/login" title="Login">Login</a>
    <%}%>
</div>
